html,
body,
*
{
  font-family: 'Trebuchet MS', 'Bookman', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.filecase-body {

  font-size: 14px;
  background:
    linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
    linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
    linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
  background-color:#e1ebbd;
  background-size: 128px 128px;
  text-align: center;
  color: white;

}

h1 {
  color: #ba625f;
}

@keyframes shake {
  0%, 60% { transform: rotate(0); }
  70% { transform: rotate(10deg); }
  80% { transform: rotate(-10deg); }
  90% { transform: rotate(10deg); }
}

.clipboard-link {
  position: absolute;
  top: 15px;
  right: 15px;
  animation: shake 2.5s infinite;
}

.clipboard-link > img {
  width: 2em;
  height: 2em;
}

.tab-header {
  margin-bottom: 1em;
}

.tab-header button {
  font-size: 1.2em;
  min-width: 35%;
  padding: .5em 0;
  background: transparent;
  border: none;
  color: #6d7683;
}
.tab-header button:focus {
  outline: none;
}

button.active {
  font-weight: bolder;
  border-bottom: 2px solid #6d7683;
}

#file-list-tab > a {
  display: block;
  font-size: 1.2em;
  text-align: left;
  padding: .5em 1.2em;
  color: #1287a8;
  text-decoration: none;
  background: rgba(255,255,255,.6);
}
#file-list-tab > a > span {
  float: right;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
}
#file-list-tab > a.temp {
  background: rgba(255,255,255,.4);
}

.switch-wrapper {
  text-align: left;
  margin-bottom: 2em;
}

.switch-wrapper > span {
  font-size: .7em;
  color: #6d7683;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label.toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 2.5em;
  height: 1.2em;
  background: grey;
  border-radius: 100px;
  position: relative;
  float: right;
}

label.toggle:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 2px;
  width: 1.1em;
  height: 1.1em;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #ba625f;
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

label:active:after {
  width: 2em;
}

.dropbox {
  font-size: 1.25rem;
  background-color: #c8dadf;
  position: relative;
  padding: 40px 20px 70px;
}
.dropbox-icon {
  width: 100%;
  height: 80px;
  fill: #92b0b3;
  display: block;
  margin-bottom: 40px;
}

.tab,
.dropbox-file,
.dropbox-dragndrop,
.dropbox-uploading,
.dropbox-success,
.dropbox-error {
  display: none;
}
.dropbox-dragndrop {
  color: #6d7683;
}

.dropbox.has-advanced-upload {
  background-color: d9d9cb;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
}
.dropbox.has-advanced-upload .dropbox-dragndrop {
  display: inline;
}
.dropbox.is-dragover {
  background-color: grey;
}